@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body { 
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(../images/background.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
 	background-position: top;
 }

.fadeInLoad {
    animation: fadeInLoad 2s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.name {
	font-size: 2em;
	/*font-weight: bold;*/
	margin-top: 35px;
	margin-bottom: 5px;
    transition: 1.5s;
}

.info {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 1.5em;
}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);*/
    transition: 1.5s;
    width: 400px;
    /*height: 500px;*/
	padding: 15px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.7);
	/* overflow: hidden; */
	position: relative;
    border-radius: 1%;
	/* overflow-x: hidden; */
    /* overflow-y: auto; */
}


.optionsCard {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);*/
    transition: 1.5s;
    width: 400px;
    /*height: 500px;*/
	padding: 15px;
    padding-bottom: 40px;
    background-color: white;
	/* overflow: hidden; */
	display: none;
	position: absolute;
    border-radius: 1%;
	z-index:10;
	/* overflow-x: hidden; */
    /* overflow-y: auto; */
}

.moreOptionsButton {
	padding: 15px;
    margin-top: 20px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    bottom: 0px;
    background-color: black;
    color: white;
    border: none;
}

.moreOptionsButton:active {
	opacity: .7
}

.half-black {
	background-color:black;
	opacity: .45;
	position: fixed;
	top: -10px;
	left: -10px;
	width: 105%;
	height: 105%;
	display: none;
	z-index: 5;
  }
  
.options {
	margin-top: 15px; 
	margin-bottom: 15px;
}

.profile {
	width: 90%;
	/*height: 60%;*/
    border-radius: 50%;
    display: block;
    margin: 40px auto 0;
	transition: 1.5s;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0 12px 25px 0 rgba(0, 0, 0, 0.1);


}

.card:hover{
    background-color: rgba(255,255,255,1);

}

.card:hover .profile {
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2), 0 12px 25px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .name {
  text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.centeredHorizontally {
	position: fixed;
	/* top: 50%; */
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	bottom: 0px;
}

.btn {
	display: inline-block;
    color: #585657;
    margin-left: 6%;
	margin-right: 6%;
	cursor: pointer;

}

.link:hover {
	font-weight: bolder;
}

.btn:hover {
	color: black;

}


/*
Font Awesome Icon CSS
*/

.fa-linkedin:hover {
	color: #0074b1;
}

.fa-play:hover {
	color: #c4302b;
}

.fa-code:hover {
	color: #fea116;
}

.fa-cutlery:hover {
	color: #d63f36;
}

.fa-bullhorn:hover {
	color: #29b470;
}

.fa-github-alt:hover {
	color: black;
}


.fa-file-text-o:hover {
	color: #4286f4;
}

.fa-medium:hover {
	color: #01ab6c;
}

.fa-envelope-o:hover {
	color: #c3452c;
}


.fa {
	text-align: center;
	margin-top: 16px;
	font-size: 2.0em !important;}


a { 
	color: inherit; 
    text-decoration: none !important;

} 



/*
Tool Tip CSS
*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
	background-color:rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    border-radius: 1%;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -83px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width:500px) {
	.card {
		width: 80%;
	}

	.profile{
		width: 90%;
	}

	.name {
		font-size: 1.8em;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.info {
		margin-top: 5px;
		margin-bottom: 15px;
		font-size: 1.35em;
	}

	.fa {
		font-size: 2.1em !important;
	}

	/*.btn {
		margin-left: 15px;
		margin-right: 15px;
	}*/
}

@media (max-height:500px) {
	.card {
		width: 300px;
	}

	/*.name {
		font-size: 1.8em;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.info {
		margin-top: 5px;
		margin-bottom: 15px;
		font-size: 1.3em;
	}*/

	/*.fa-2x {
		font-size: 2.0em !important;
	}*/

	/*.btn {
		margin-left: 15px;
		margin-right: 15px;
	}*/
}

@media (max-height:400px) {
	.card {
		width: 250px;
	}

	/*.name {
		font-size: 1.75em;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.info {
		margin-top: 5px;
		margin-bottom: 15px;
		font-size: 1.125em;
	}*/

	/*.fa-2x {
		font-size: 2.0em !important;
	}*/

	/*.btn {
		margin-left: 10px;
		margin-right: 10px;
	}*/
}
